<div class="container my-5">
      <h1>Página de busca</h1>
      <form>
        <input type="text" name="search" class="form-control" placeholder="Digite aqui a sua busca">
        <button type="submit" class="btn btn-primary mt-3">Buscar</button>
      </form>
    </div>